body {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    background: #f7f9fc;
    padding-top: 80px;
    color: #333;
}

textarea {
    width: 60%;
    height: 150px;
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
}

button {
    padding: 12px 30px;
    font-size: 18px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #2563eb;
}
#spinner {
  color: darkred;
  font-weight: bold;
  margin-top: 10px;
}

